---
import LiServices from '../../components/LiServices.astro'
import DeskAll from "../../icons/iconsAbout/DeskAll.astro"
import ChairAll from "../../icons/iconsAbout/ChairAll.astro"
import CoffeAll from "../../icons/iconsAbout/CoffeAll.astro"
import MeetingsAll from "../../icons/iconsAbout/MeetingsAll.astro"
import RecreationAll from "../../icons/iconsAbout/RecreationAll.astro"
import LightAll from "../../icons/iconsAbout/LightAll.astro"
import WifiAboutAll from "../../icons/iconsAbout/WifiAboutAll.astro"
---

<figure class="w-full">
    <img class="aspect-[16/9] w-full" src="public/aboutImages/heroAbout.webp" alt="Imagen principal del hero">
</figure>
<section class="w-10/12 mx-auto">
    <div class="w-full py-4 flex flex-col gap-4">
        <h1 class="text-3xl font-bold font-playfair text-balance">Sobre Nosotros</h1>
        <p class="text-pretty text-gurkha-950/60">En <strong class="text-secondary">Cozy Corner</strong>,  creamos espacios de trabajo cómodos y productivos para que puedas rendir al máximo. Nuestras zonas de trabajo cuentan con todo lo necesario: escritorios ergonómicos, sillas cómodas, iluminación óptima, conexión WiFi rápida y áreas de descanso.</p>

        <h3 class="text-xl font-bold font-playfair text-balance">Nuestros Espacios de Trabajo</h3>
        <ul class="grid grid-cols-3p gap-2">
            <LiServices>
                <DeskAll 
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Escritorios amplios y ergonómicos
            </LiServices>
            <LiServices>
                <ChairAll
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Sillas cómodas y ajustables
            </LiServices>
            <LiServices>
                <LightAll
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Iluminación natural y artificial óptima
            </LiServices>
            <LiServices>
                <WifiAboutAll
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Conexión WiFi de alta velocidad
            </LiServices>
            <LiServices>
                <MeetingsAll
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Salas de reuniones privadas
            </LiServices>
            <LiServices>
                <RecreationAll
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Áreas de descanso y recreación
            </LiServices>
            <LiServices>
                <CoffeAll
                class="w-12 stroke-gurkha-500 fill-transparent transition-colors duration-300 ease-in-out group-hover:fill-gurkha-500"/>
                Servicio de cafetería y snacks
            </LiServices>
        </ul>

        <h3 class="text-xl font-bold font-playfair text-balance">Nuestra Filosofía</h3>
        <p class="text-pretty">Creemos que un ambiente agradable y libre de distracciones es clave para la productividad. Por eso, nos esforzamos por crear espacios que hagan que tu experiencia laboral sea placentera y eficiente.</p>
        <p class="text-pretty">Únete a nuestra comunidad de profesionales y descubre un nuevo enfoque del trabajo. Te ayudaremos a encontrar tu espacio ideal.</p>
        <a class="block w-full text-center p-2 py-4 rounded-lg text-white bg-gurkha-500 hover:bg-gurkha-400 active:bg-gurkha-900 transition-all duration-200 hover:scale-105 lg:w-max lg:py-2 lg:px-4" href="#"> Unirse a la comunidad</a>
    </div>
</section>