---
import SvgAll from "../../components/SvgAll.astro"
import {icons} from "../../../icons-about-hero.js"
---

<figure class="w-full">
    <img class="aspect-[16/9] w-full" src="/public/heroAbout.webp" alt="Imagen principal del hero">
</figure>
<section class="w-10/12 mx-auto">
    <div class="w-full py-4 flex flex-col gap-4">
        <h1 class="text-3xl font-bold font-playfair text-balance">Sobre Nosotros</h1>
        <p class="text-pretty text-gurkha-950/60">En <strong class="text-secondary">Cozy Corner</strong>,  creamos espacios de trabajo cómodos y productivos para que puedas rendir al máximo. Nuestras zonas de trabajo cuentan con todo lo necesario: escritorios ergonómicos, sillas cómodas, iluminación óptima, conexión WiFi rápida y áreas de descanso.</p>

        <h3 class="text-xl font-bold font-playfair text-balance">Nuestros Espacios de Trabajo</h3>
        <ul class="grid grid-cols-3p gap-2">

            {
                icons.map(icon =>(
                    <li class="text-gurkha-950/60 flex gap-4 p-4 rounded-lg transition-scale duration-300 ease-in-out hover:shadow-xl hover:scale-105 group">
                        <SvgAll dd={icon.d}
                        class="stroke-gurkha-500 w-14 fill-transparent group-hover:fill-gurkha-500 transition-colors duration-300 ease-in-out"
                        viewBox="-1 -1 26 26"
                        strokeWidth= "1"/>
                        <h3>{icon.title}</h3>
                    </li>
                ))
            }
        </ul>

        <h3 class="text-xl font-bold font-playfair text-balance">Nuestra Filosofía</h3>
        <p class="text-pretty">Creemos que un ambiente agradable y libre de distracciones es clave para la productividad. Por eso, nos esforzamos por crear espacios que hagan que tu experiencia laboral sea placentera y eficiente.</p>
        <p class="text-pretty">Únete a nuestra comunidad de profesionales y descubre un nuevo enfoque del trabajo. Te ayudaremos a encontrar tu espacio ideal.</p>
        <a class="block w-full text-center p-2 py-4 rounded-lg text-white bg-gurkha-500 hover:bg-gurkha-400 active:bg-gurkha-900 transition-all duration-200 hover:scale-105 lg:w-max lg:py-2 lg:px-4" href="#"> Unirse a la comunidad</a>
    </div>
</section>