---
const {cardTitle, cardText} = Astro.props
---

<article 
class="article w-full rounded-lg overflow-hidden hover:shadow-lg transition-all duration-300 ease-in-out dark:hover:bg-gurkha-500/50 dark:[mask-image:linear-gradient(to_bottom_right,black_50%,transparent)]"
style="

"
>
    <div 
    class="w-full p-5 flex flex-col gap-2 hover:scale-105 transition-scale duration-300">
        <slot/>
        <h3 
        class="text-xl font-semibold text-gurkha-950 dark:text-white">
            {cardTitle}
        </h3>
        <p class="text-gurkha-950/60 dark:text-white/60 text-pretty">
            {cardText}
        </p>
    </div>
</article>

<style>
    /* animaicon de cards */
    .article{
        animation: goUp both;
        animation-timeline: view();
        animation-range: entry 10% cover 40%;
    }
    @keyframes goUp {
        0%{
            opacity: 0;
            transform: translateY(40px);
            scale: 0.5;
        }
        50%{
            opacity: 1;
            transform: translateY(0);
            scale: 1;
        }
    }

    @media screen and (min-width: 768px) {
        .article{
            animation: none;
        }
    }
</style>