<section class="p-6 flex flex-col gap-6">
    <h1 class="text-4xl font-playfair font-bold text-balance">Find your comfort working zone with Cozy Corner</h1>
    <p class="text-tertiary text-pretty">Change your work environment by using a co-working place, to meet new people and gain a new network</p>
</section>