<section class="py-6 flex flex-col gap-6 w-10/12 mx-auto 
md:bg-white/60 md:backdrop-blur-sm md:w-1/2 md:mx-0 md:ml-auto md:p-6 md:mt-[12.5%]
lg:w-full lg:mt-0">
    <h1 class="text-3xl font-playfair font-bold text-balance text-gurkha-950 dark:text-white md:text-4xl xl:w-[75%] animate-fade-in-up animate-delay-300">Find your comfort working zone with Cozy Corner</h1>
    <p class="text-gurkha-950/60 dark:text-white/60 text-pretty md:text-gurkha-950 md:font-medium lg:text-gurkha-950/60 animate-fade-in-right animate-delay-400">Change your work environment by using a co-working place, to meet new people and gain a new network</p>
</section>

<style>
    @media (min-width: 1024px) {
        h1::after{
            content: '';
            width: 40px;
            height: 4px;
            @apply bg-gurkha-500;
            display: block;
            position: absolute;
            top: 18%;
            right: 1%;
        }
    }
    /* @media (min-width: 1280px) {
        h1::after{
            top: 18%;
            right: 1%;
        }
    } */
</style>