---
import Location from "../icons/Location.astro"
import Rooms from "../icons/Rooms.astro"
import Wifi from "../icons/Wifi.astro"
import CardsFooter from "../components/CardsFooter.astro"
---

<footer class="w-10/12 mx-auto pb-10">
    <section class="w-full grid grid-cols-3p justify-center gap-4 my-5">
        <CardsFooter 
        cardTitle="20+ Location"
        cardText="lorem ipsum dolor sit amet consectetur adipisicing elit">
            <Location class="w-[68px]"/>
        </CardsFooter>
        <CardsFooter 
        cardTitle="324 Rooms Available"
        cardText="lorem ipsum dolor sit amet consectetur adipisicing elit">
            <Rooms class="w-[50px]"/>
        </CardsFooter>
        <CardsFooter 
        cardTitle="100% Internet Connected"
        cardText="lorem ipsum dolor sit amet consectetur adipisicing elit">
            <Wifi class="w-[60px]"/>
        </CardsFooter>
    </section>
</footer>