---
import { nav } from '../../contentPage.js'
import Menu from '../icons/Menu.astro'
import Cross from '../icons/Cross.astro'
import Search from '../icons/Search.astro'
---

<header class="w-10/12 mx-auto py-4">
    <div class="menus_container grid grid-cols-2mobile justify-between items-center w-full">
        <!-- logo -->
        <a href="/" class="text-primary text-3xl font-semibold">Cozy <span class="text-secondary font-semibold">Corner</span></a>

        <!-- menu -->
        <a href="#menu" class="menu relative z-[999] lg:hidden">
            <Menu class="fill-secondary w-6 scale-x-[-1]"/>
        </a>

        <a href="#" class="menu menu__cross relative z-[999] lg:hidden">
            <Cross class="fill-secondary w-6"/>
        </a>

        <!-- nav -->
        <div class="nav_container absolute top-0 right-0 w-2/3 max-w-[400px] min-h-[90vh] max-h-min bg-primary/60 backdrop-blur-sm flex flex-col justify-center items-center gap-5 [clip-path:var(--clip,_inset(0_0_0_100%))] transition-all duration-500 linear rounded-b-xl z-[99]
		lg:relative lg:w-[630px] lg:max-w-full lg:min-w-max lg:h-full lg:min-h-full lg:bg-transparent lg:backdrop-blur-none lg:[clip-path:_inset(0_0_0_0)] lg:flex-row lg:justify-between lg:items-center lg:rounded-none lg:bg-red-300 lg:gap-0
		xl:w-[700px]" id="menu">

            <nav class="w-8/12 mx-auto lg:w-max lg:m-0">
                <ul class="flex flex-col gap-3 lg:flex-row">
                    {
                        nav.map(nv=>(
                            <li><a class=" bg-quaternary/10 hover:bg-quaternary/40 transition-all duration-200 text-white block p-2 rounded-lg hover:translate-x-1
							lg:bg-transparent lg:hover:bg-transparent lg:hover:translate-x-0 lg:text-secondary lg:rounded-none lg:py-0 lg:hover:text-primary lg:text-sm" href={nv.link}>{nv.name}</a></li>
                        ))
                    }
                </ul>
            </nav>

            <aside class="w-8/12 mx-auto lg:w-max lg:m-0">
                <ul class="flex flex-col items-center gap-3 lg:flex-row lg:text-sm">
                    <li class="">
                        <!-- <form action="" class="search-bar">
                            <input type="search" name="search" pattern=".*\S.*" required>
                            <button class="search-btn" type="submit">
                                <span>Search</span>
                            </button>
                        </form> -->

						<Search class="fill-secondary w-6"/>
                    </li>
                    <li class="w-full lg:w-max"><a class="block w-full text-center p-2 rounded-lg text-primary underline bg-white lg:w-max"  href="#">Sign In</a></li>	
                    <li class="w-full lg:w-max"><a class="block w-full text-center p-2 py-4 rounded-lg text-white bg-primary hover:bg-primary/70 transition-all duration-200 hover:scale-105 lg:w-max lg:py-2 lg:px-4"  href="#">Sign Up</a></li>
                </ul>
            </aside>
        </div>
    </div>
</header>

<style>
    header{
        --img1: scale(1);
        --img2: scale(0);
    }
    .menus_container{
        grid-template-areas: 'logo menuu';
    }
    .menu{
        grid-area: menuu;
        transform: var(--img1);
        transition: all .3s ease-in-out;
    }
    .menu__cross{
        transform: var(--img2);

    }
	@media (min-width: 1024px) {
		.nav_container{
			grid-area: menuu;

		}
	}

    .menus_container:has(.nav_container:target){
        --img1: scale(0);
        --img2: scale(1);
        --clip: inset(0 0 0 0);
    }

    /* search */
    button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
input {
	color: #171717;
}
.search-bar {
	display: flex;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #313131 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #313131;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #9B9A78;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #9B9A78;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}
</style>