---
import { nav } from "../../contentPage.js";
import Menu from "../icons/Menu.astro";
import Cross from "../icons/Cross.astro";
import Search from "../icons/Search.astro";

import SvgAll from "../components/SvgAll.astro";
---

<header class="w-10/12 mx-auto py-4">
  <div
    class="menus_container grid grid-cols-2mobile justify-between items-center w-full"
  >
    <!-- logo -->
    <a
      href="/"
      class="text-gurkha-500 text-3xl font-semibold animate-fade-in-left animate-delay-500"
      >Cozy <span class="text-gurkha-950 font-semibold dark:text-white">Corner</span></a
    >

    <!-- menu -->
    <a href="#menu" class="menu relative z-[999] lg:hidden">
      <Menu class="fill-gurkha-950 dark:fill-gurkha-50 w-6 scale-x-[-1]" />
    </a>

    <a href="#" class="menu menu__cross relative z-[999] lg:hidden">
      <Cross class="fill-gurkha-950 dark:fill-gurkha-50 w-6" />
    </a>

    <!-- nav -->
    <div
      class="nav_container absolute top-0 right-0 w-2/3 max-w-[400px] min-h-[90vh] max-h-min bg-gurkha-500/60 backdrop-blur-sm flex flex-col justify-center items-center gap-5 [clip-path:var(--clip,_inset(0_0_0_100%))] transition-all duration-500 linear rounded-b-xl z-[99]
		lg:relative lg:w-[630px] lg:max-w-full lg:min-w-max lg:h-full lg:min-h-full lg:bg-transparent lg:backdrop-blur-none lg:[clip-path:_inset(0_0_0_0)] lg:flex-row lg:justify-between lg:items-center lg:rounded-none lg:gap-0
		xl:w-[700px]"
      id="menu"
    >
      <nav class="w-8/12 mx-auto lg:w-max lg:m-0">
        <ul class="flex flex-col gap-3 lg:flex-row lg:items-center">
          {
            nav.map((nv) => (
              <li>
                <a
                  class=" bg-gurkha-500/50 hover:bg-gurkha-500 active:bg-gurkha-900 transition-all duration-300 text-white p-2 rounded-lg hover:translate-x-1
				  lg:bg-transparent lg:hover:bg-transparent lg:hover:translate-x-0 lg:text-gurkha-950 dark:text-white lg:rounded-none lg:py-0 lg:hover:text-gurkha-500 lg:text-sm flex items-center gap-2 group"
                  href={nv.link}
                >
                  <SvgAll
                    class="stroke-gurkha-50 w-6 fill-transparent transition-colors duration-200 group-hover:fill-gurkha-50 lg:hidden"
                    dd={nv.d}
                    viewBox="-0.5 -0.5 25 25"
                    strokeWidth="1"
                  />
                  {nv.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <aside class="w-8/12 mx-auto lg:w-max lg:m-0">
        <ul
          class="flex flex-col items-center justify-center gap-3 lg:flex-row lg:text-sm"
        >
          <li class="">
            <Search class="fill-gurkha-950 w-6" />
          </li>
          <li class="w-full lg:w-max">
            <a
              class="block w-full text-center p-2 rounded-lg text-gurkha-500 underline bg-white lg:w-max"
              href="#">Sign In</a>
          </li>
          <li class="w-full lg:w-max">
            <a
              class="block w-full text-center p-2 py-4 rounded-lg text-white bg-gurkha-500 hover:bg-gurkha-400 active:bg-gurkha-900 transition-all duration-200 hover:scale-105 lg:py-2 lg:px-4"
              href="#">Sign Up</a>
          </li>
        </ul>
      </aside>
      <div 
      class="toggle-border border-2 border-solid border-[#foebeb] rounded-[130px] mb-10 px-[1px] py-[2px] bg-gradient-to-br from-[#F0F0F0] to-[#F0F0F050] shadow-[0_0_0_2px] shadow-white cursor-pointer flex items-center">
        <input id="one" type="checkbox" class="">

        <label for="one" class="relative inline-block w-16 h-5 bg-[#d13613] rounded-[80px] cursor-pointer shadow-[inset_0_0_16px] shadow-white/30 transition-colors duration-500">

          <div class="handle absolute top-[-8px] left-[-10px] w-9 h-9 border-[1px] border-solid border-[#e5e5e5] rounded-full shadow-[3px_5px_10px_0] shadow-white/40 transition-all duration-500"></div>
        </label>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    --img1: scale(1);
    --img2: scale(0);
  }
  .menus_container {
    grid-template-areas: "logo menuu";
  }
  .menu {
    grid-area: menuu;
    transform: var(--img1);
    transition: all 0.3s ease-in-out;
  }
  .menu__cross {
    transform: var(--img2);
  }
  @media (min-width: 1024px) {
    .nav_container {
      grid-area: menuu;
    }
  }
  .menus_container:has(.nav_container:target) {
    --img1: scale(0);
    --img2: scale(1);
    --clip: inset(0 0 0 0);
  }

  /* checkbox */
  .toggle-border input[type="checkbox"] {
    display: none;
  }
  .handle{
    background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
  }

  .toggle-border input[type="checkbox"]:checked + label {
    background: #13d162;
  }

  .toggle-border input[type="checkbox"]:checked + label > .handle {
    left: calc(100% - 35px + 10px);
  }
</style>

<script>
  const $darkMode = document.querySelector('#one')

  $darkMode?.addEventListener('click', ()=>{
    document.documentElement.classList.toggle('dark');
  })

</script>
