---
import Decorative from "../components/Decorative.astro"
import HeroContent from "../components/HeroContent.astro"
import Check from "../icons/Check.astro"
---

<section class="grid gap-4">
    <Decorative />
    <HeroContent />
    <section class="w-10/12 mx-auto bg-white md:pl-6 md:py-8">
        <ul class=" w-full grid grid-cols-2 gap-4 text-xs">
            <li class="flex gap-1 items-center"><Check class="fill-primary w-4"/>Virtual Office Setup</li>
            <li class="flex gap-1 items-center"><Check class="fill-primary w-4"/>Space for Event</li>
            <li class="flex gap-1 items-center"><Check class="fill-primary w-4"/>Open Workspace</li>
            <li class="flex gap-1 items-center"><Check class="fill-primary w-4"/>Chill Out Zone</li>
        </ul>
    </section>
</section>